{% extends 'layout.html' %}
{% block body %}

    <div class="container">
        <img src="{{user_uploaded}}" alt="plant">
        <div>
            <h2 class="plant-des">Disease Cotton Plant</h2>
            <p class="plant-des">Disease Name -: Attack of leaf Sucking and chewing pests.</p>
            <p class="plant-des">Solution For Disease -: Use any one Systemic Insecticide, which contain <strong>Flonicamid 50% / Thiamethxam 25% WG / Imidacloprid 17.8 Sl / Acetamiprid 20% SP. </strong> </p>
            <p class="plant-des">रोग का नाम -:  चुरडा,मावा रोग </p>
            <p class="plant-des">रोग का उपचार -: किसी भी एक प्रणालीगत कीटनाशक का प्रयोग करें, जिसमें फ्लोनिकमिड ५०% / थियामेथोक्साम 25% WG / इमिडाक्लोप्रिड १७.८ एसएल / एसिटामिप्रिड २०% एसपी है।</p>
        </div>
    </div>
    <aside class="aside">
        <h2>Some Medicins for Disease Plants</h2>
        <div class="img-box">
            <img src="../static/img/m1.jpg" alt="">
            <img src="../static/img/m2.webp" alt="">
            <img src="../static/img/m3.jpg" alt="">
            <img src="../static/img/m4.jpeg" alt="">
            <img src="../static/img/m5.gif" alt="">
            <img src="../static/img/m6.jpg" alt="">
        </div>
    </aside>
    
{% endblock %}