<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/disease.css">
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
    <title>CNN Model</title>

</head>
<body>

    
    <header class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/readme">README.md</a></li>
        <li><a href="https://www.linkedin.com/in/ram-datascientist">Linkedin</a></li>
        <li><a href="https://github.com/ramdotds">Git Hub</a></li>
    </header>
    <main class="main-container">
        <section class="section-head">
            <img src="../static/img/h1.jpg" alt="Ram">
        </section>
        <h2>Cotton Plant Disease Pridiction Deep Learning CNN Model ( Agriculture )</h2>
        <section class="section-body">
            <form action="/predict" method="post" enctype="multipart/form-data">
                <label for="imgfile-1">Cotton Tree or Leaf Image Paste Here</label>
                <input type="file" name="image" id="imgfile-1">
                <button type="submit">Predict</button>
            </form>
        </section>
        <aside class="aside">
            <h2>Our Priority For Farmers</h2>
            <div class="img-box">
                <img src="../static/img/f1.jpg" alt="">
                <img src="../static/img/f2.jpg" alt="">
                <img src="../static/img/f3.jpg" alt="">
                <img src="../static/img/f4.jpg" alt="">
                <img src="../static/img/f5.jpg" alt="">
                <img src="../static/img/f6.jpg" alt="">
            </div>

        </aside>
    </main>
    <footer class="footer">
        @Ram ( ram.dsbusiness@gmail.com ) || Copywrite Claim By Ram -: 2024
    </footer>
</body>
</html>