{% extends 'layout.html' %}
{% block body %}

<div class="container">
    <img src="{{user_uploaded}}" alt="plant">
    <div>
        <h2 class="plant-des">Healthy Cotton Plant</h2>
        <p class="plant-des">There is no any disease on the cotton plant. Although the chemical fertilizer has fallen on the leaves of the tree, the leaves are burned. But there is no need to warry.
        </p>
        <p class="plant-des">कपास के पेड़ पर कोई बीमारी नहीं है। रासायनिक उर्वरक पेड़ की पत्तियों पर गिर गया है, पत्तियां जल गई हैं, लेकिन चिंता करने की कोई
            जरूरत नहीं है।</p>
    </div>
</div>
{% endblock %}